main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alineación en el centro */
    gap: 20px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas en cada fila */
    gap: 20px; /* Espacio entre las tarjetas */
    max-width: 2500px; /* Ajusta esto según tu diseño */
}

.card {
    transition: transform 0.5s;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: 100%; /* La imagen ocupa todo el alto de la tarjeta */
    border-radius: 10px 10px 0 0;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backface-visibility: hidden;
    transition: 1s;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .back {
    background-color: blanchedalmond;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}
