footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

.marcas {
    display: flex;
    justify-content: center;
}

.marcas a {
    margin-top: 0 10px;
    text-decoration: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    list-style: none;
    line-height: 50px;
    text-align: center;
    background: white;
    color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

.marcas a:hover {
    transform: scale(1.1);
}

@media (max-width: 768px){
    .marcas a{
        margin: 0 5px;
    }
}

@media (max-width: 400px){
    .marcas a{
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}